@background_color_1: #00cccc;

body {
  margin: 0px auto;
  min-width: 60%;
  max-width: 60%;
  text-align: center;
  .main-page-wraper {
    text-align: left;
  }
}
.header-console {
  outline: 3px solid grey;
  height: auto;
  background-color: @background_color_1;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 60%;
}
.header-navigation-menu {
  li {
    display: inline-block;
    margin-top: 200px;
  }
}