body{
  margin: 0px auto;
  min-width: 60%;
  max-width: 60%;
  text-align: center;
}
.header-console{
  outline: 3px solid grey;
  height: 50px;
  background-color: #00cccc;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 60%;
}
.header-navigation-menu li{
  display: inline-block;
  margin-top: 50px;
}
main {

}